<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @db_connection.name %>
</p>

<p>
  <strong>Database name:</strong>
  <%= @db_connection.database_name %>
</p>

<p>
  <strong>Database host:</strong>
  <%= @db_connection.database_host %>
</p>

<p>
  <strong>Database user:</strong>
  <%= @db_connection.database_user %>
</p>

<p>
  <strong>Database port:</strong>
  <%= @db_connection.database_port %>
</p>

<p>
  <strong>Type:</strong>
  <%= @db_connection.type %>
</p>

<%= link_to 'Edit', edit_db_connection_path(@db_connection) %> |
<%= link_to 'Back', db_connections_path %>
